<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="git.redfur.cloud/kate" value="https://git.redfur.cloud/api/packages/kate/nuget/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="git.redfur.cloud/kate">
      <package pattern="kate.shared"/>
      <package pattern="kate.shared.CommandLine"/>
      <package pattern="kate.shared.EtoForms"/>
    </packageSource> 
    <packageSource key="nuget.org">
	  <package pattern="*"/>
    </packageSource>
  </packageSourceMapping>
</configuration>